[defaults]
inventory = inventories/lab/hosts.yml
roles_path = roles
collections_path = .collections
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
timeout = 20

[ssh_connection]
pipelining = True

[inventory]
enable_plugins = yaml, ini
